@CHARSET "ISO-8859-1";
body {
   /*  background-color:rgb(250, 230, 230); */
     
   background-image: url("../../images/ima.jpg");
  background-color: white;

  background-position: top right;
  background-repeat: no-repeat;
  background-size: 150px 200px;
  position: relative;
 
}
a.homepage{
    color: black;
    background-color: transparent;
    text-decoration: none;
    text-align:left;
    border:double;
	
}
#a1{
    color: green;
    background-color: transparent;
    text-decoration: none;
    text-align:left;
    border:double;
	
}

#a2{
    color: blue;
    background-color: transparent;
    text-decoration: none;
    text-align:right;
    border:double;
	
}
/* #a3{
    color: blue;
    background-color: transparent;
    text-decoration: none;
    text-align: right;
    float:right;
   
	
} */
#a3:link, #a3:visited {
    background-color: rgb(106, 129, 166);
    color: white;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    position:rleative;
    float:right;
    
}
pagination {
  display: inline-block;
  float:center;
}


a.a4{
    color: lemonyellow;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
	
}

#searchinput{
	
	color: blue;
    background-color: transparent;
    text-decoration: none;
    text-align:right;
    border:double;
	
}