<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>My Application</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />
</head>
<body>
<p>Welcome to the Cricket World !!</p>
<p th:text="${role.getRoledesc()}"></p>
<!-- <p th:text="${jsession.getId()}"></p> -->
<div>
<a th:href="@{/viewall/{rolename} (rolename=${role.getRoledesc()})}">Indian Cricket Team </a>
</div>
</body>
</html>